

#baseline-font(@line-height, @cap-height, @descender-ratio, @cap-height-ratio, @left-adjust-ratio: 0) {
	--line-height: @line-height;
	--cap-height: @cap-height;
	--descender-ratio: @descender-ratio;
	--cap-height-ratio: @cap-height-ratio;
	--left-adjust-ratio: @left-adjust-ratio;
	--font-size: calc(var(--cap-height) / var(--cap-height-ratio));
	line-height: var(--line-height);
	font-size: var(--font-size);
	transform: translateY(calc((var(--line-height) - var(--font-size))/2 - var(--gutter-height) + var(--font-size) * var(--descender-ratio))) translateX(calc(var(--font-size) * var(--left-adjust-ratio)));
}



.libre-franklin(@line-height, @cap-height) {
	@descender-ratio: (140.0 / 1000.0);
	@cap-height-ratio: (740.0 / 1000.0);
	@left-adjust-ratio: -0.03;


	font-family: "Libre Franklin", sans-serif;
	font-optical-sizing: auto;
	#baseline-font(
		@line-height,
		@cap-height,
		@descender-ratio,
		@cap-height-ratio,
		@left-adjust-ratio);
}

.playfair-display(@line-height, @cap-height) {
	@descender-ratio: calc(86 / 1000);
	@cap-height-ratio: calc(705 / 1000);
	@left-adjust-ratio: -0.02;

	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	#baseline-font(@line-height, @cap-height, @descender-ratio,
		@cap-height-ratio, @left-adjust-ratio);
}


