
:root {
	--line-height: .grid-full-height(@default-line-height-rows)[@ret];
	--cap-height: .grid-height(@default-cap-height-rows)[@ret];
}

.baseline-font(@descender-ratio, @cap-height-ratio, @left-adjust-ratio: 0) {
	--font-size: calc(var(--cap-height) / @cap-height-ratio);
	line-height: var(--line-height);
	font-size: var(--font-size);
	transform: translateY(calc((var(--line-height) - var(--font-size))/2 - var(--gutter-height) + var(--font-size) * @descender-ratio)) translateX(calc(var(--font-size) * @left-adjust-ratio));
}


:root {
	--libre-franklin-descender-ratio: calc(140.0 / 1000.0);
	--libre-franklin-cap-height-ratio: calc(760.0 / 1000.0);
	--libre-franklin-left-adjust-ratio: -0.03;
}
.libre-franklin {
	font-family: "Libre Franklin", sans-serif;
	font-optical-sizing: auto;
	.baseline-font(
		var(--libre-franklin-descender-ratio),
		var(--libre-franklin-cap-height-ratio),
		var(--libre-franklin-left-adjust-ratio));
}

:root {
	--playfair-display-descender-ratio: calc(86.0 / 1000.0);
	--playfair-display-cap-height-ratio: calc(705.0 / 1000.0);
	--playfair-display-left-adjust-ratio: -0.02;
}
.playfair-display {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	.baseline-font(
		var(--playfair-display-descender-ratio),
		var(--playfair-display-cap-height-ratio),
		var(--playfair-display-left-adjust-ratio));
}

