@import "theme.less";

html, body {
	height: 100%;
}

*, h1, h2, h3, h4, h5, h6, p, button {
	margin: 0;
	padding: 0;
	border: none;
}

menu {
	list-style:none;
	display: inline;
}

button {
	width:100%;
}

