@import "fonts.less";


/* If you want the minimum font-size to be 10px, then set
 * @grid-full-height = 10px / (320 / columns)
 *
 * If you want equal sized gutters set the
 * gutter-height-ratio = grid-full-width/gutter-width-ratio
 * with no units.
 *
 * If you want both:
 * @grid-full-height = 10px / (320 / columns) + @gutter-width-ratio
 *
 */

@grid-full-width: 1rem; /* constant, do not change */
@grid-full-height: 0.25rem; /* must use rem as this unit */
@gutter-width-ratio: 0.125;
@gutter-height-ratio: 0.0;

@gutter-width:  (@grid-full-width  * @gutter-width-ratio);
@gutter-height: (@grid-full-height * @gutter-height-ratio);
@grid-width:  (@grid-full-width  - @gutter-width);
@grid-height: (@grid-full-height - @gutter-height);


:root {
	--window-rows: 100;
	--grid-full-width: @grid-full-width;
	--grid-full-height: @grid-full-height;
}


/* Theme Colors */

.make-color(@color) {
	.bg-color-@{color}, .bg-@{color} {
		background-color: @@color;
	}
	.bg-color-@{color}-hover, .bg-@{color}-hover {
		transition: ease-in-out 0.2s;
		&:hover {
			background-color: @@color;
		}
	}
	.color-@{color}, .font-color-@{color} {
		color: @@color;
	}
	.font-glow-@{color} {
		text-shadow: 0em 0em 0.25rem @@color;
	}
	.box-glow-@{color} {
		box-shadow: 0px 0px 0.25rem @@color;
	}
	.font-shadow-@{color} {
		text-shadow: 0.02em 0.02em 0rem @@color;
	}
	.box-shadow-@{color} {
		box-shadow: 0.02em 0.02em 0rem @@color;
	}
	.border-@{color} {
		border: 2px solid @@color;
	}

	.make-faded-color(@percent) {
		.bg-color-@{color}-@{percent}, .bg-@{color}-@{percent} {
			background-color: fade(@@color, @percent);
		}
		.bg-color-@{color}-@{percent}-hover, .bg-@{color}-@{percent}-hover {
			transition: ease-in-out 0.2s;
			&:hover {
				background-color: fade(@@color, @percent);
			}
		}
		.font-glow-@{color}-@{percent} {
			text-shadow: 0px 0px 0.25rem fade(@@color, @percent);
		}
		.box-glow-@{color}-@{percent} {
			box-shadow: 0px 0px 0.25rem fade(@@color, @percent);
		}
		.font-shadow-@{color}-@{percent} {
			text-shadow: 0.02em 0.02em 0rem fade(@@color, @percent);
		}
		.box-shadow-@{color}-@{percent} {
			box-shadow: 0.02em 0.02em 0rem fade(@@color, @percent);
		}
	}
	.make-faded-color(75);
	.make-faded-color(50);
	.make-faded-color(25);
}

@black: #212121;
@rose-pink: #9e6f6d;
@dark-green: #004038;
@beige: #e8d9c0;
@light-beige: #fff6e8;
@grey: #323232;
@darker-rose: #8f6152;
@camel: #b99b69;

.make-color(black);
.make-color(rose-pink);
.make-color(dark-green);
.make-color(beige);
.make-color(light-beige);
.make-color(grey);
.make-color(darker-rose);
.make-color(camel);


.default-font(@line-height-rows: 1, @cap-height-rows: 1) {
	.playfair-display(
		.grid-full-height(@line-height-rows)[@ret],
		.grid-height(@cap-height-rows)[@ret]);
}

.secondary-font(@line-height-rows: 1, @cap-height-rows: 1) {
	.libre-franklin(
		.grid-full-height(@line-height-rows)[@ret],
		.grid-height(@cap-height-rows)[@ret]);
}

.default-input-style {
	.bg-color-beige;
	.font-color-darker-rose;
}

.box-style {
}

h1, .title {
	.default-font(2, 2);
	.font-color-darker-rose;
	.font-weight-100;
	letter-spacing: -0.03em;
}

h2, .section-title-large {
	.default-font(4, 4);
	.font-color-black;
	.font-weight-100;
	letter-spacing: -0.03em;
}

h3, .section-title-medium {
	.default-font(4, 3);
	.font-color-black;
	.font-weight-100;
	letter-spacing: -0.03em;
}

h4, .section-title-small {
	.default-font(3, 2);
	@media (orientation: portrait) {
		.default-font(4, 3);
	}
	.font-color-black;
	.font-weight-100;
	letter-spacing: -0.03em;
}

h5, .tile-title {
	.secondary-font(3, 2);
	.font-color-light-beige;
	.font-shadow-black-25;
	.font-weight-300;
	.padding-bottom-1;
}

h6, .tagline {
	.default-font(1, 1);
	@media (orientation: portrait) {
		.default-font(3, 2);
	}
	.font-color-black;
	.font-weight-100;
	letter-spacing: -0.03em;
}


p, ul > li {
	.secondary-font(2, 1);
	@media (orientation: portrait) {
		.secondary-font(3, 2);
	}
	.font-color-grey;
	.font-weight-300;
	letter-spacing: -0.03em;
}

p, ul {
	.padding-bottom-1;
}

button {
	transition: ease-in-out 0.2s;
	.default-input-style;
	.box-style;

	span {
		.default-font(1, 1);
		@media (orientation: portrait) {
			.default-font(2, 2);
		}
		.font-color-grey;
	}

	&:hover {
		.bg-color-camel;
	}

	&.dark {
		.bg-color-dark-green;
		span {
			.color-light-beige;
		}

		&:hover {
		}
	}
}


a {
	.secondary-font(1, 1);
	.font-color-grey;
	.font-weight-300;
	letter-spacing: -0.03em;

	&:hover {
		.font-color-black;
	}
}

footer.bg-color-dark-green  {
	a, p, h6, li {
		.color-light-beige;
	}

	a:hover {
		.color-camel;
	}
}

*[data-tag]::before {
	.default-font(4, 4);
	.font-color-grey;
	.font-weight-900;
}
